@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

input {
    box-shadow: none !important;
}


@layer base {
    button {
        @apply cursor-pointer;
    }
    input:not([type="checkbox"]) {
        @apply outline-none focus:ring border border-gray-300 focus:border-blue-500 focus:ring-blue-500 rounded-lg;
    }
    textarea {
        @apply outline-none focus:ring border border-gray-300 focus:border-blue-500 focus:ring-blue-500 rounded-lg;
    }
}
